html, body {
	min-height: 100%;
}

html {
	position: relative;
}

body {
  background-image: url("../pngs/sky.png");
	background-size: 700px;
	z-index: 0;
	margin-bottom: -128px;
	padding-bottom: 0;
}

#container {
	position: relative;
	overflow: hidden;
	width: 800px;
}

footer {
	position: relative;
	z-index: 1;
  bottom: 0;
  left: -5vw;
	margin: 0;
  width:110%;
  height: 128px;
  background-image: url("../pngs/land.png");
	overflow: hidden;
}

#myProgress {
	position: relative;
	top: -8px;
	left: -5vw;
	width: 110vw;
	height: 5px;
	background-color: #4E5B84;
}

#myBar {
    position: absolute;
    width: 1vw;
    height: 100%;
    background-color: #92C81A;
}

@font-face{
	font-family:'ka1';
	src: url('ka1.ttf');
	src: url('ka1.ttf') format('truetype');
}

@font-face{
	font-family:'coders';
	src: url('mozart.ttf');
	src: url('mozart.ttf') format('truetype');
}

p {
  padding-top:0px;
  padding-left:50px;
  padding-right:50px;
}

h1 {
	padding-top:5vh;
	color: #38415E;
  text-align: center;
  font-family: 'ka1', sans-serif;
  font-size: 3.25em;
  letter-spacing: 10px;
  line-height: 150%;
	background-color: none;
}

h3 {
  color: #38415E;
  font-family: 'coders', sans-serif;
  text-align: center;
  font-size: 2.25em;
	letter-spacing: 3px;
	font-weight: 300;
	background-color: none;
}

h4 {
	color: #38415E;
	font-family: 'coders', sans-serif;
	text-align: center;
	font-size: 1.25em;
	letter-spacing: 3px;
	font-weight: 200;
	background-color: none;
}

input[type=button] {
	position: relative;
	top: -15vh;
	padding:10px 20px;
	z-index: 1;
	margin: 15px;
	background-color: rgba(255,255,255,0.4);
	border: 4px solid #1D7D3E;
	border-radius: 2px;
	color: #38415E;
	font-family: 'coders', sans-serif;
	font-weight: 300;
	text-align: center;
	font-size: 2.25em;
	letter-spacing: 3px;
	opacity: 0;
	text-decoration:none;
	animation: appear 1s normal ease-in;
	animation-fill-mode: forwards;
	animation-delay: 12s;
}

input[type=button]:hover {
	background-color: rgba(255,255,255,0.6);
	border: 4px solid #92C81A;
}

#date {
	position: relative;
	top:-10vh;
}

#location {
	position: relative;
	top:-10vh;
}

#castle {
	position: relative;
	width: 50%;
	margin: 0 auto;
	bottom: -15vh;;
}

#castletop{
	position: absolute;
	z-index:-2;
	bottom: 40px;
	left: 260px;
}

#castlebottom {
	position: absolute;
	z-index:1;
	left: 196px;
}

#flag {
	position: absolute;
	left: 330px;
	top: -210px;
	opacity: 0;
	z-index:-3;
	animation: raise 5s normal ease-out;
	animation-fill-mode: forwards;
	animation-delay: 10s;
}

@keyframes raise {
	0% {
		opacity: 0;
		visibility: hidden;
		top:-80px;
	}
	10% {
		opacity: 1;
		visibility: visible;
		top: -150px;
	}
	100% {
		opacity: 1;
		visibility: visible;
		top: -210px;
	}
}

#forestry {
	position: relative;
	width: 50%;
	margin: 0 auto;
	bottom:-15vh;
}

#bushA {
	position: absolute;
	left: -200px;
	z-index:-2;
	top: -5px;
}

#bushB {
	position: absolute;
	left: 850px;
	z-index:-2;
	top: -5px;
}

#hill {
	position: absolute;
	left: 0;
	z-index:-2;
	top: -30px;
}

#bighill {
	position: absolute;
	left: 500px;
	z-index:-3;
	top: -125px;
}

#largehill {
	position: absolute;
	left: -300px;
	z-index:-3;
	top: -125px;
}

#character {
	position: relative;
	bottom: 128px;
}

#peach {
	position: relative;
	left: -100vw;
	z-index:2;
	animation: Peachwalk 5s normal ease-out;
	animation-fill-mode: forwards;
	animation-delay: 2s;
}

#mario {
	position: relative;
	left: 10vw;
	z-index:3;
	animation: Mariowalk 5s normal ease-out;
	animation-fill-mode: forwards;
	animation-delay: 2s;
}

#peach2 {
	position: relative;
	left: -45vw;
	bottom: 5vh;
	z-index: -2;
	opacity: 0;
	animation: Peachwalk2 3s normal linear;
	animation-fill-mode: forwards;
	animation-delay: 8s;
}


#mario2 {
	position: relative;
	left: -41vw;
	bottom: 5vh;
	opacity: 0;
	z-index: -1;
	animation: Mariowalk2 3s normal linear;
	animation-fill-mode: forwards;
	animation-delay: 8s;
}

@keyframes appear {
	0% {
		opacity: 0;
		visibility: hidden;
	}
	100% {
		opacity: 1;
		visibility: visible;
	}
}


@keyframes Peachwalk {
	0% {
		left:-96vw;
	}
	90% {
		opacity: 1;
		left: -41vw;
		transform: scale(1);
	}
	95% {
		opacity: 0.5;
		left:-41vw;
		transform: scale(0.5);
	}
	100% {
		opacity: 0;
		transform: scale(0.5);
		left:-41vw;
	}
}

@keyframes Peachwalk2 {
	0% {
		opacity: 0;
		transform: scale(0.5);
		left:-45vw;
	}
	25% {
		opacity: 1;
		transform: scale(1);
		height: 100px;
		left: -45vw;
	}
	90% {
		opacity: 1;
		height: 100px;
		left:-42vw;
		-moz-transform: scale(1, 1);
	-webkit-transform: scale(1, 1);
	-o-transform: scale(1, 1);
	-ms-transform: scale(1, 1);
	transform: scale(1, 1);
	}
	100% {
		left: -42vw;
		height: 100px;
		opacity: 1;
		-moz-transform: scale(-1, 1);
		-webkit-transform: scale(-1, 1);
		-o-transform: scale(-1, 1);
		-ms-transform: scale(-1, 1);
		transform: scale(-1, 1);
	}
}


@keyframes Mariowalk {
	0% {
		left:10vw;
	}
	10% {
		transform:translateY(-120%)
	}
	20% {
		transform:translateY(0)
	}
	30% {
		transform:translateY(-120%)
	}
	40% {
		transform:translateY(0)
	}
	50% {
		transform:translateY(-120%)
	}
	60% {
		transform:translateY(0)
	}
	90% {
		opacity: 1;
		left:-45vw;
		transform: scale(1);
	}
	95% {
		opacity: 0.5;
		left: -45vw;
		transform: scale(0.5);
	}
	100% {
		opacity: 0;
		left: -45vw;
		transform: scale(0.5);
	}
}

@keyframes Mariowalk2 {
	0% {
		opacity: 0;
		transform: scale(0.5);
		left:-41vw;
	}
	25% {
		opacity: 1;
		transform: scale(1);
		left: -41vw;
	}
	90% {
		opacity: 1;
		transform: scale(1);
		left:-44vw;
		-moz-transform: scale(1, 1);
	-webkit-transform: scale(1, 1);
	-o-transform: scale(1, 1);
	-ms-transform: scale(1, 1);
	transform: scale(1, 1);
	}
	100% {
		left: -44vw;
		height: 64px;
		opacity: 1;
		-moz-transform: scale(-1, 1);
		-webkit-transform: scale(-1, 1);
		-o-transform: scale(-1, 1);
		-ms-transform: scale(-1, 1);
		transform: scale(-1, 1);
	}
}

#turtle {
		padding-top: 10px;
    position: relative;
    -webkit-animation: float 2s infinite  normal ease-out;
    animation: float 8s infinite  normal ease-out;
		z-index: 2;
}


@-webkit-keyframes float {
    0% {
        top:20px;
				left:-30px;
    }
		13% {
        top:0px;
				left:-30px;
    }
		25% {
				top:20px;
				left:-30px;
		}
		37% {
				top: 0px;
				left:0px;
		}
		50% {
				top: 20px;
				left:30px;
		}
		62% {
				top: 0px;
				left:30px;
		}
		75% {
				top: 20px;
				left:30px;
		}
		87% {
				top: 0px;
				left:0px;
		}
		100% {
				top: 20px;
				left:-30px;

}

@keyframes float {
	0% {
			top:20px;
			left:-30px;
	}
	13% {
			top:0px;
			left:-30px;
	}
	25% {
			top:20px;
			left:-30px;
	}
	37% {
			top: 0px;
			left:0px;
	}
	50% {
			top: 20px;
			left:30px;
	}
	62% {
			top: 0px;
			left:30px;
	}
	75% {
			top: 20px;
			left:30px;
	}
	87% {
			top: 0px;
			left:0px;
	}
	100% {
			top: 20px;
			left:-30px;

}
